body {
    background-color: lightyellow;
    font-size: xx-large;
}

th {
    background-color: yellow;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
}

td {
    background-color: #cccccc;
    margin: 4px;
    padding: 4px;
}

button {
    font-size: medium;
}

.label {
    font-size: medium;
}

.last {
    font-weight: bold;
    font-size: larger;
}

.new {
    font-weight: bold;
    color: white;
}

#f {
    color: red;
}

#m {
    color: blue;
}

#good {
    background-color: green;
}

#wrong {
    background-color: red;
}